<body>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
  <div class="card3">
    <h2 style="font-size: xx-large">X-Solar Tech Clientes</h2><br>
    <p class=" form-group">
      <strong>Nome:</strong>
      <%= @user.name %>
    </p>

    <p class="form-group">
      <strong>Cpf:</strong>
      <%= @user.cpd %>
    </p>

    <p class="form-group">
      <strong>Telefone:</strong>
      <%= @user.phone %>
    </p>

    <p class="form-group">
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p class="form-group">
      <strong>Cep:</strong>
      <%= @user.zip %>
    </p>

    <p class="form-group">
      <strong>Cidade:</strong>
      <%= @user.city %>
    </p>

    <p class="form-group">
      <strong>Estado:</strong>
      <%= @user.state %>
    </p>

    <p class="form-group">
      <strong>Bairro:</strong>
      <%= @user.borough %>
    </p>

    <p class="form-group">
      <strong>Rua:</strong>
      <%= @user.street %>
    </p>

    <p class="form-group">
      <strong>Número:</strong>
      <%= @user.number %>
    </p>

    <p class="form-group">
      <strong>Complemento:</strong>
      <%= @user.comp %>
    </p>

    <p class="form-group">
      <strong>Tipos dos Imóveis:</strong>
      <%= @user.tipo %>
    </p>

    <p class="form-group">
      <% @user.experiences.each_with_index do |exp, index| %>
        <br>
        <h4 class="form-group">Endereço:</h4>
        <strong class="form-group">Cep:</strong>
        <%= exp.ziptwo %>
        <br>
        <strong class="form-group">Cidade:</strong>
        <%= exp.citytwo %>
        <br>
        <strong class="form-group">Estado:</strong>
        <%= exp.statetwo %>
        <br>
        <strong class="form-group">Bairro:</strong>
        <%=exp.boroughtwo %>
        <br>
        <strong class="form-group">Rua:</strong>
        <%=exp.streetwo %>
        <br>
        <strong class="form-group">Number:</strong>
        <%=exp.numbertwo %>
        <br>
        <strong class="form-group">Complemento:</strong>
        <%= exp.comptwo %>
        <br>
      <% end %>
      </p><br>


      <div class="actions">
        <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-outline-primary btn-md" %>
      </div><br>

      <div class="actions">
        <%= link_to 'Voltar', users_path, class: "btn btn-outline-primary" %>
      </div><br>
  </div><br>
</body>
