<body style="height: 800px">
  <div class="navi">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h3 class="my-0 mr-md-auto font-weight-high">X-Solar Tech Clientes</h3>
      <nav class="my-2 my-md-0 mr-md-3">
        <a style="padding-right: 20px" <%=link_to "Home", wilkommen_path, method: :get, class: "btn btn-outline-primary", style: "padding-right: 20px"  %></a>
        <a></a>
        <a style="padding-right: 20px"<%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: "btn btn-outline-primary" %></a>
        <a style="padding-right: 20px"><%= link_to "Registrar", new_admin_registration_path, :method => "get", class: "btn btn-outline-primary" %></a>
      </nav>
    </div>
  </div><br>

  <div class="card">
    <h2 style="font-size: xx-large">Clientes</h2><br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=> '40', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Senha' %><br />
        <%= f.password_field :password, autocomplete: "Senha Atual", :size=> '40', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Lembrar' %>
        </div><br>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-lg btn-outline-primary'%>
      </div><br><br>
    <% end %>
  </div>
</body>





